@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body> div#calendar{
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
#calendar {
  height: 1600px;
  background-image: url('./background.png');
  background-color: #010101;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  border: 1px solid #c9c9c9;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
#month{
  display: grid; 
  grid-template-rows: 15% auto 15%;
  background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.8) 60%,
		rgba(255, 255, 255, 0) 80%
	);
}
.month-title{
  padding: 0px 30px;
}
.month-title>h1, 
.month-title>h4{
  display: inline; 
  margin: 0;
  text-shadow: 4px 4px 2px #333;
  line-height: 120px;
}
.month-title>h1{
  color: #fff;
  text-transform: uppercase;
  font-size: 80px;
}
.month-title>h4{
  color: #D8D3CF;
  font-size: 40px;
  margin-left: 20px;
}
.month-footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #010101;
}
.month-footer > div{
  text-align: right;
}
.month-footer > div > img {
  margin: 0;
  height: 110px;
  width: auto;
  padding: 0px 30px;
}
.month-days{
  padding: 0px 30px;
  grid-template-rows: 30px auto;
}
.weekend{
  padding: 0 !important;
  margin: 0;
  padding: 0px 0px 0px 15px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.weekend>li{
  list-style-type: none;
  display: inline; 
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  padding-bottom: 10px;
}
.month-day{
  display: grid;
  grid-template-rows: 40% auto 20%;
  font-size: 2rem;
  min-height: 122px;
}
.month-day__header, 
.month-day__body,
.month-day__footer {
  transition: 0.3s;
}
.month-day:hover .month-day__header, 
.month-day:hover .month-day__body,
.month-day:hover .month-day__footer {
  background-color: #dcdcdc
}
.month-day__header{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  background-color: brown;
  padding: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.month-day__header>div:first-child{
  font-size: 0.5rem;
}
.month-day__header h3,
.month-day__header>div:first-child> p, 
.month-day__footer>p{
  margin: 0;
  padding: 0;
}
.month-day__header h3, 
.month-day__header h3.previus-month{
  text-align: right;
  font-size: 1.5rem;
}
.month-day__header h3.previus-month, 
.month-day__header h3.next-month{
  color: #CACACA;
}
.month-day__header, 
.month-day__body, 
.month-day__footer{
  padding: 5px;
  background-color: #EFEFF1
}
.month-day__footer>p{
  font-size: 1rem;
  padding-bottom: 10px;
  font-size: 0.5rem;
}
.month-day__footer{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.month-day__body{
  min-height: 20px;
}
.month-days>div:last-child{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}